{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{ listing.title }}</h2>
        <div>            
            <img style= "max-width: 500px; max-height: 500px;" src="{{ listing.image }}">
            <p>{{ listing.description }}</p>
            <p>${{ listing.amount }}</p>
        </div>

        <form type="submit" action="{% url 'add_watcher' listing.id %}" method="POST">
            {% csrf_token %}
                
            {% if watchlist_message %}
            <button>  
                {{ watchlist_message }}           
             </button>
            {% else %}
            <button>  
                Add to watchlist
            </button>
            {% endif %}

        </form>
    <br>
    <br>
    {% if user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Place your bid" name ="new_bid"></input>
        <input type="submit"></input>
    </form>
    {% endif %}

    <br>
    <br>

    <h3>Comments</h3>
    {% for comment in comments %}
    <b>{{ user }}</b>     <p>{{comment}}</p>
    <br>

   {% endfor %}

    <br>

    {% if user.is_authenticated %}
    <form action="{% url 'comment' listing.id %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Post a comment!" name="comment">
        </input>
        <input type="submit"></input>
    </form>

    {% endif %}
{% endblock %}