{% extends "auctions/layout.html" %}

{% block body %}

{% if listing.active == False%}
    <div class="alert alert-danger" role="alert">
        This listing is closed.
    </div>
{% endif %}
{% if not listing.active %}
    {% if winner.id == user.id %}
    <div class="alert alert-success" role="alert">
        You have won this auction!
    </div>
    {% else %}
        <p>No bids were placed on this listing.</p>
    {% endif %}
{% endif %}


    <h2>{{ listing.title }}</h2>
    <div>
        <h5>Seller: {{ listing.seller }} </h5>            
        <img style= "max-width: 500px; max-height: 500px;" src="{{ listing.image }}">
        <p>{{ listing.description }}</p>
        <p>Current price: ${{ listing.amount }}</p>
    </div>

    <form type="submit" action="{% url 'add_watcher' listing.id %}" method="POST">
        {% csrf_token %}
        {% if is_in_watchlist %}
            <button>Remove from watchlist</button>
        {% else %}
            <button>Add to watchlist</button>
        {% endif %}
    </form>

    </form>

    <br>

    {% if user.is_authenticated and user.id != listing.seller.id%}
    <form action="{% url 'place_bid' listing.id %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Place your bid" name ="new_bid"></input>
        <input type="submit"></input>
    </form>
    {% endif %}
    <br>

    {% if user.id == listing.seller.id%}
    <form action="{% url 'close_auction' listing.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Close this auction"></input>
    </form>

    <br>
    <br>
    {% endif %}

    <h3>Comments</h3>

    {% if user.is_authenticated %}
    <form action="{% url 'add_comment' listing.id %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Post a comment!" name="new_comment">
        </input>
        <input type="submit"></input>
    </form>

    {% endif %}

    <br>

    {% for comment in comments %}
    <b>{{ comment.commenter }}</b>     <p>{{comment.comment_text}}</p>

   {% endfor %}

    <br>

{% endblock %}